body{
    background-image: url(https://th.bing.com/th/id/R.c331b73e7d480a999cfb46de7c02390a?rik=Uq7TuCABQ5bmPQ&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f14%2f14%2fMyEhQa.jpg&ehk=tC11FeZj6VweEN1qJI9BZtDg0%2f%2bnHBUAAj4gR5agsvk%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: 100%;
}

.mainpagehead{
    font-size: 55px;
    font-family:"Jacques Francois Shadow" ;
    color: #800080;
    margin-left: 25%;
}
.jacques-francois-shadow-regular {
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-style: normal;
  }
.button1{
    background-color: #000000;
    font-size: 40px;
    border-radius: 12px;
    border-color: #800080;
    color: #800080;
    margin-left: 43%;
    margin-top: 20%;
    border-width: 5px;
    font-family: fantasy;

}
.blink_me {
  animation: blinker 3s linear infinite;
}
  
@keyframes blinker {
  50% {
    opacity: 0.65;
  }
}
.button2{
    font-size: 20px;
    margin-top: 50px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    border-width: 0px;
    color:#800080
}

.button3{
    margin-left: -40px;
    margin-top: 100px;
    font-size: 20px;
    border-width: 0px;
    background-color: #000000;
    color: #800080;
    position: absolute;
}
.navmenu{
    padding: 10px;
    background-color: black;
}