body{
    background-color: rgb(0, 0, 0);
}
h1{
    font-size: 40px;
    font-family:"Jacques Francois Shadow" ;
    color: #800080;
    padding-left: 35%;
}
.jacques-francois-shadow-regular {
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-style: normal;
  }
.button1{
    background-color: #000000;
    font-size: 40px;
    border-radius: 12px;
    border-color: #800080;
    color: #800080;
    margin-left: 43%;
    margin-top: 20%;
    border-width: 5px;
    font-family: fantasy;

}